# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# Build folders
dist/
build/

# Coverage
coverage/

# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/